@import "../../App.scss";

.mainLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  min-width: 100%;
  width: 50%;
  padding: 2rem;
  border-radius: 4px;
}

.formLabelInput {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    span {
      color: red;
    }
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $so-gray-200;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;

    &:focus {
      border-color: $so-green;
      color: #212529;
      box-shadow: 0 0 0 0.25rem rgba(40, 93, 86, 0.25);
      outline: none;
    }
  }
}

.formLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  button {
    all: unset;
    background-color: $so-green;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 8px 20px;
    color: $so-white;
    border-radius: 6px;

    &:hover {
      background-color: #224f49;
    }
  }

  span {
    font-size: 0.85rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sectionRegister {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  a {
    text-decoration: none;
    color: $so-green;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-weight: 500;
  }

  p:first-child {
    margin-bottom: 1rem;
  }
  p:nth-child(2) {
    margin-bottom: 0.5rem;
  }
}

.horizontalLine {
  margin-block: 24px;
  height: 1px;
  width: 100%;
  max-width: 1440px;
  min-width: 300px;
  background-color: $so-green;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.btnGoogle,
.btnFacebook {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 40%;
  width: 150px;
}

.btnFacebook {
  background-color: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #293d69;
  }
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: #a12733;
  }
}

.error_message {
  font-size: 0.85rem;
  color: #a12733;
  font-weight: 400;
}

.inputError {
  background-color: #fad9d9;
  border-color: #d9534f;
}

.inputValid {
  background-color: #e7f5e6;
  border-color: #5cb85c;
}

.inputError {
  background-color: #fad9d9;
  border-color: #d9534f;
}

.inputValid {
  background-color: #e7f5e6;
  border-color: #5cb85c;
}

footer {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .mainLogin {
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .sectionRegister {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    width: 100%;
    a {
      text-decoration: none;
      color: $so-green;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-weight: 500;
    }

    p:first-child {
      margin-bottom: 1rem;
    }
    p:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }

  .btnGoogle,
  .btnFacebook {
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 150px;
    width: 150px;
  }
}
