@import "../../App.scss";

.link {
  color: $so-gray-100;
  text-decoration: none;
  font-weight: 600;

  &::after {
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    background-color: $so-gray-100;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
