@import "../../App.scss";

.header_container {
  background-color: $so-green;
}

header {
  color: $so-gray-100;
  max-width: 1440px;
  margin: 0 auto;
  padding: 22px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}
