@import "../../App.scss";

nav {
  display: flex;
  gap: 3rem;

  a {
    &:last-child {
      margin-left: 4rem;
    }
  }
}

@media (max-width: 768px) {
  nav {
    a {
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
