@import "../../App.scss";

.direitos {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  &::before {
    content: "";
    position: absolute;

    width: 95%;
    height: 1px;
    background-color: #929fa8;
    top: 0;
  }
}

.redes_sociais {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  i {
    margin-left: 1rem;
    color: $so-white;
  }
}
